body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  background-color: #dceefa;
  overflow-x: hidden;
}

@font-face {
  font-family: Pecita;
  src: url("./fonts/Pecita.otf") format("opentype");
}

@font-face {
  font-family: Salonikia;
  src: url("./fonts/SalonikiaVKF.otf") format("opentype");
}
